{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Bevragen Personen",
    "description" : "API voor het bevragen van personen uit de basisregistratie personen (BRP), inclusief de registratie niet-ingezeten (RNI). Met deze API kun je personen zoeken en actuele gegevens over personen, kinderen, partners en ouders raadplegen.\n\nGegevens die er niet zijn of niet actueel zijn krijg je niet terug. Heeft een persoon bijvoorbeeld geen geldige nationaliteit, en alleen een beëindigd partnerschap, dan krijg je geen gegevens over nationaliteit en partner.\n\nZie de [Functionele documentatie](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/tree/v1.1.0/features) voor nadere toelichting.\n",
    "contact" : {
      "url" : "https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen"
    },
    "license" : {
      "name" : "European Union Public License, version 1.2 (EUPL-1.2)",
      "url" : "https://eupl.eu/1.2/nl/"
    },
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://www.haalcentraal.nl/haalcentraal/api/brp",
    "description" : "APILAB testserver\n"
  } ],
  "tags" : [ {
    "name" : "Personen",
    "description" : "Zoeken personen"
  } ],
  "paths" : {
    "/personen" : {
      "post" : {
        "tags" : [ "Personen" ],
        "summary" : "Vindt personen",
        "description" : "Zoek personen met één van de onderstaande verplichte combinaties van parameters en vul ze evt. aan met optionele parameters.\n\n\nDefault krijg je personen terug die nog in leven zijn, tenzij je de inclusiefoverledenpersonen=true opgeeft.\n\n\nGebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, [zie functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/fields_extensie.feature)\n\n\n1.  Zoek met geslachtsnaam en geboortedatum\n    - geboortedatum\n    - geslachtsnaam (minimaal 2 karakters, [wildcard toegestaan](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature))\n\n\n2.  Zoek met geslachtsnaam en gemeente van inschrijving\n    - gemeenteVanInschrijving\n    - geslachtsnaam (minimaal 2 karakters, [wildcard toegestaan](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature))\n\n\n3.  Zoek met burgerservicenummer\n    - burgerservicenummer\n\n\n4.  Zoek met postcode en huisnummer\n    - postcode\n    - huisnummer\n\n\n5.  Zoek met straat, huisnummer en gemeente van inschrijving\n    - straat (minimaal 2 karakters, [wildcard toegestaan](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature))\n    - gemeenteVanInschrijving\n    - huisnummer\n\n\n6.  Zoek met nummeraanduiding identificatie\n    - nummeraanduidingIdentificatie\n",
        "operationId" : "GetPersonen",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ZoekPersonenQuery"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersoonBeperktHalCollectie"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    },
    "/personen/{persoonIdentificatie}" : {
      "get" : {
        "tags" : [ "Personen" ],
        "summary" : "Raadpleeg een persoon",
        "description" : "Raadpleeg een al dan niet overleden persoon.\n\nGebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, [zie functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/fields_extensie.feature).\n",
        "operationId" : "GetPersoon",
        "parameters" : [ {
          "name" : "persoonIdentificatie",
          "in" : "path",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/PersoonIdentificatie"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Fields"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersoonHal"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PersoonBeperktHalCollectie" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "$ref" : "#/components/schemas/PersoonBeperktHalCollectieEmbedded"
          }
        }
      },
      "PersoonBeperktHalCollectieEmbedded" : {
        "type" : "object",
        "properties" : {
          "personen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PersoonBeperktHal"
            }
          }
        }
      },
      "PersoonBeperktHal" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PersoonBeperkt"
        }, {
          "type" : "object",
          "properties" : {
            "_links" : {
              "$ref" : "#/components/schemas/HalCollectionLinks"
            }
          }
        } ]
      },
      "HalCollectionLinks" : {
        "type" : "object",
        "properties" : {
          "self" : {
            "$ref" : "#/components/schemas/HalLink"
          }
        },
        "description" : "HalCollectionLinks bevat de self link die elke HAL Resource minimaal moet hebben in zijn _links property\n"
      },
      "HalLink" : {
        "required" : [ "href" ],
        "type" : "object",
        "properties" : {
          "href" : {
            "$ref" : "#/components/schemas/Href"
          },
          "templated" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string",
            "description" : "Voor mens leesbaar label bij de link"
          }
        },
        "description" : "De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5; Deze link kan als templated link worden aangeboden. [URI-templating is hier beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature)."
      },
      "Href" : {
        "type" : "string",
        "example" : "https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}"
      },
      "ZoekPersonenQuery" : {
        "required" : [ "fields", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "fields" : {
            "$ref" : "#/components/schemas/Fields"
          },
          "inclusiefOverledenPersonen" : {
            "type" : "boolean",
            "description" : "Als je ook overleden personen in het antwoord wilt, geef dan de parameter inclusiefOverledenPersonen op met waarde True.  Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/overleden_personen.feature)\n",
            "example" : true
          },
          "gemeenteVanInschrijving" : {
            "$ref" : "#/components/schemas/GemeenteVanInschrijving"
          }
        },
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "ZoekMetGeslachtsnaamEnGeboortedatum" : "#/components/schemas/ZoekMetGeslachtsnaamEnGeboortedatum",
            "ZoekMetGeslachtsnaamEnGemeenteVanInschrijving" : "#/components/schemas/ZoekMetGeslachtsnaamEnGemeenteVanInschrijving",
            "ZoekMetBurgerservicenummer" : "#/components/schemas/ZoekMetBurgerservicenummer",
            "ZoekMetPostcodeEnHuisnummer" : "#/components/schemas/ZoekMetPostcodeEnHuisnummer",
            "ZoekMetStraatHuisnummerEnGemeenteVanInschrijving" : "#/components/schemas/ZoekMetStraatHuisnummerEnGemeenteVanInschrijving",
            "ZoekMetNummeraanduidingIdentificatie" : "#/components/schemas/ZoekMetNummeraanduidingIdentificatie"
          }
        }
      },
      "ZoekMetGeslachtsnaamEnGeboortedatum" : {
        "required" : [ "geboortedatum", "geslachtsnaam" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/ZoekPersonenQuery"
        }, {
          "type" : "object",
          "properties" : {
            "geboortedatum" : {
              "type" : "string",
              "description" : "Je kunt alleen zoeken met een volledig geboortedatum. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/parametervalidatie.feature)\n",
              "format" : "date",
              "example" : "1964-09-24"
            },
            "geboorteplaats" : {
              "maxLength" : 40,
              "pattern" : "^(\\?+|\\*)?[a-zA-Z0-9À-ÿ '\\-\\']{1,40}(\\?+|\\*)?$",
              "type" : "string",
              "description" : "Gemeentenaam of een buitenlandse plaats of een plaatsbepaling, die aangeeft waar de persoon is geboren. **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).**\n",
              "example" : "Utrecht"
            },
            "geslachtsnaam" : {
              "pattern" : "^(\\?+|\\*)?[a-zA-Z0-9À-ÿ '\\-\\']{1,200}(\\?+|\\*)?$",
              "type" : "string",
              "description" : "De (geslachts)naam waarvan de eventueel aanwezige voorvoegsels zijn afgesplitst. **Gebruik van de wildcard is toegestaan. Zie [feature-beschrijving](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature)** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).**\n",
              "example" : "Vries"
            },
            "geslachtsaanduiding" : {
              "pattern" : "^([Mm]|[Vv]|[Oo])$",
              "type" : "string",
              "description" : "Geeft aan dat de persoon een man of een vrouw is, of dat het geslacht (nog) onbekend is.\n",
              "example" : "V"
            },
            "voorvoegsel" : {
              "pattern" : "^[a-zA-Z0-9À-ÿ' '\\-\\']{1,10}$",
              "type" : "string",
              "description" : "Deel van de geslachtsnaam dat vooraf gaat aan de rest van de geslachtsnaam. Het zoeken op het voorvoegsel is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).**\n",
              "example" : "de"
            },
            "voornamen" : {
              "pattern" : "^(\\?+|\\*)?[a-zA-Z0-9À-ÿ' '\\-\\']{1,200}(\\?+|\\*)?$",
              "type" : "string",
              "description" : "De verzameling namen die, gescheiden door spaties, aan de geslachtsnaam voorafgaat. ** Bij deze query-parameter is het gebruik van een [wildcard](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature) toegestaan in combinatie met minimaal 2 karakters.** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).**\n",
              "example" : "Dirk"
            }
          }
        } ]
      },
      "ZoekMetGeslachtsnaamEnGemeenteVanInschrijving" : {
        "required" : [ "gemeenteVanInschrijving", "geslachtsnaam" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/ZoekPersonenQuery"
        }, {
          "type" : "object",
          "properties" : {
            "geslachtsaanduiding" : {
              "pattern" : "^([Mm]|[Vv]|[Oo])$",
              "type" : "string",
              "description" : "Geeft aan dat de persoon een man of een vrouw is, of dat het geslacht (nog) onbekend is.\n",
              "example" : "V"
            },
            "geslachtsnaam" : {
              "pattern" : "^(\\?+|\\*)?[a-zA-Z0-9À-ÿ '\\-\\']{1,200}(\\?+|\\*)?$",
              "type" : "string",
              "description" : "De (geslachts)naam waarvan de eventueel aanwezige voorvoegsels zijn afgesplitst. **Gebruik van de wildcard is toegestaan. Zie [feature-beschrijving](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature)** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).**\n",
              "example" : "Vries"
            },
            "voorvoegsel" : {
              "pattern" : "^[a-zA-Z0-9À-ÿ' '\\-\\']{1,10}$",
              "type" : "string",
              "description" : "Deel van de geslachtsnaam dat vooraf gaat aan de rest van de geslachtsnaam. Het zoeken op het voorvoegsel is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).**\n",
              "example" : "de"
            },
            "voornamen" : {
              "pattern" : "^(\\?+|\\*)?[a-zA-Z0-9À-ÿ' '\\-\\']{1,200}(\\?+|\\*)?$",
              "type" : "string",
              "description" : "De verzameling namen die, gescheiden door spaties, aan de geslachtsnaam voorafgaat. ** Bij deze query-parameter is het gebruik van een [wildcard](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature) toegestaan in combinatie met minimaal 2 karakters.** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).**\n",
              "example" : "Dirk"
            }
          }
        } ]
      },
      "ZoekMetBurgerservicenummer" : {
        "required" : [ "burgerservicenummer" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/ZoekPersonenQuery"
        }, {
          "type" : "object",
          "properties" : {
            "burgerservicenummer" : {
              "maxItems" : 10,
              "minItems" : 1,
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Burgerservicenummer"
              }
            }
          }
        } ]
      },
      "ZoekMetPostcodeEnHuisnummer" : {
        "required" : [ "huisnummer", "postcode" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/ZoekPersonenQuery"
        }, {
          "type" : "object",
          "properties" : {
            "huisletter" : {
              "$ref" : "#/components/schemas/Huisletter"
            },
            "huisnummer" : {
              "$ref" : "#/components/schemas/Huisnummer"
            },
            "huisnummertoevoeging" : {
              "$ref" : "#/components/schemas/Huisnummertoevoeging"
            },
            "postcode" : {
              "$ref" : "#/components/schemas/Postcode"
            }
          }
        } ]
      },
      "ZoekMetStraatHuisnummerEnGemeenteVanInschrijving" : {
        "required" : [ "gemeenteVanInschrijving", "huisnummer", "straat" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/ZoekPersonenQuery"
        }, {
          "type" : "object",
          "properties" : {
            "huisletter" : {
              "$ref" : "#/components/schemas/Huisletter"
            },
            "huisnummer" : {
              "$ref" : "#/components/schemas/Huisnummer"
            },
            "huisnummertoevoeging" : {
              "$ref" : "#/components/schemas/Huisnummertoevoeging"
            },
            "straat" : {
              "$ref" : "#/components/schemas/StraatFilter"
            }
          }
        } ]
      },
      "ZoekMetNummeraanduidingIdentificatie" : {
        "required" : [ "nummeraanduidingIdentificatie" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/ZoekPersonenQuery"
        }, {
          "type" : "object",
          "properties" : {
            "nummeraanduidingIdentificatie" : {
              "$ref" : "#/components/schemas/NummeraanduidingIdentificatie"
            }
          }
        } ]
      },
      "BadRequestFoutbericht" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Foutbericht"
        }, {
          "type" : "object",
          "properties" : {
            "invalidParams" : {
              "type" : "array",
              "description" : "Foutmelding per fout in een parameter. Alle gevonden fouten worden één keer teruggemeld.",
              "items" : {
                "$ref" : "#/components/schemas/InvalidParams"
              }
            }
          }
        } ]
      },
      "Foutbericht" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Link naar meer informatie over deze fout",
            "format" : "uri"
          },
          "title" : {
            "type" : "string",
            "description" : "Beschrijving van de fout"
          },
          "status" : {
            "type" : "integer",
            "description" : "Http status code"
          },
          "detail" : {
            "type" : "string",
            "description" : "Details over de fout"
          },
          "instance" : {
            "type" : "string",
            "description" : "Uri van de aanroep die de fout heeft veroorzaakt",
            "format" : "uri"
          },
          "code" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Systeemcode die het type fout aangeeft"
          }
        },
        "description" : "Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807)."
      },
      "InvalidParams" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "format" : "uri",
            "example" : "https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer"
          },
          "name" : {
            "type" : "string",
            "description" : "Naam van de parameter",
            "example" : "verblijfplaats__huisnummer"
          },
          "code" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Systeemcode die het type fout aangeeft",
            "example" : "integer"
          },
          "reason" : {
            "type" : "string",
            "description" : "Beschrijving van de fout op de parameterwaarde",
            "example" : "Waarde is geen geldige integer."
          }
        },
        "description" : "Details over fouten in opgegeven parameters"
      },
      "PersoonHal" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PersoonHalBasis"
        } ]
      },
      "PersoonHalBasis" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Persoon"
        }, {
          "properties" : {
            "_links" : {
              "$ref" : "#/components/schemas/PersoonLinks"
            }
          }
        } ]
      },
      "PersoonLinks" : {
        "type" : "object",
        "properties" : {
          "self" : {
            "$ref" : "#/components/schemas/HalLink"
          },
          "ouders" : {
            "type" : "array",
            "description" : "De ouders van de persoon.\n",
            "items" : {
              "$ref" : "#/components/schemas/HalLink"
            }
          },
          "reisdocumenten" : {
            "type" : "array",
            "description" : "De reisdocumenten die aan de persoon zijn verstrekt.\n",
            "items" : {
              "$ref" : "#/components/schemas/HalLink"
            }
          },
          "kinderen" : {
            "type" : "array",
            "description" : "De kinderen van de persoon.\n",
            "items" : {
              "$ref" : "#/components/schemas/HalLink"
            }
          },
          "partners" : {
            "type" : "array",
            "description" : "De actuele bij de persoon geregistreerde huwelijken en geregistreerd partnerschappen. Een beëindigd huwelijk of geregistreerd partnerschap wordt niet teruggegeven.\n",
            "items" : {
              "$ref" : "#/components/schemas/HalLink"
            }
          },
          "partnerhistorie" : {
            "$ref" : "#/components/schemas/HalLink"
          },
          "verblijfplaatshistorie" : {
            "$ref" : "#/components/schemas/HalLink"
          },
          "verblijfstitelhistorie" : {
            "$ref" : "#/components/schemas/HalLink"
          },
          "nationaliteitHistorie" : {
            "$ref" : "#/components/schemas/HalLink"
          },
          "adres" : {
            "$ref" : "#/components/schemas/HalLink"
          }
        }
      },
      "PersoonIdentificatie" : {
        "type" : "string",
        "description" : "De unieke identificatie van een persoon\n",
        "format" : "uuid"
      },
      "Fields" : {
        "maxLength" : 924,
        "pattern" : "^[a-zA-Z0-9\\.,_]+$",
        "type" : "string",
        "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven.\nBij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven.\nZie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)\n"
      },
      "PersoonBeperkt" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PersoonBasis"
        }, {
          "type" : "object",
          "properties" : {
            "naam" : {
              "$ref" : "#/components/schemas/NaamBasis"
            },
            "geboorte" : {
              "$ref" : "#/components/schemas/GeboorteBeperkt"
            },
            "opschortingBijhouding" : {
              "$ref" : "#/components/schemas/OpschortingBijhoudingBasis"
            },
            "overlijden" : {
              "$ref" : "#/components/schemas/AbstractOverlijdenBasis"
            },
            "verblijfplaats" : {
              "$ref" : "#/components/schemas/AbstractVerblijfplaatsBeperkt"
            }
          }
        } ]
      },
      "PersoonBasis" : {
        "type" : "object",
        "properties" : {
          "identificatie" : {
            "$ref" : "#/components/schemas/PersoonIdentificatie"
          },
          "burgerservicenummer" : {
            "$ref" : "#/components/schemas/Burgerservicenummer"
          },
          "geheimhoudingPersoonsgegevens" : {
            "$ref" : "#/components/schemas/AbstractGeheimhoudingPersoonsgegevens"
          },
          "geslachtsaanduiding" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "leeftijd" : {
            "type" : "integer",
            "description" : "Leeftijd in jaren op het moment van bevragen.\n",
            "example" : 34
          }
        }
      },
      "Burgerservicenummer" : {
        "pattern" : "^[0-9]{9}$",
        "type" : "string",
        "example" : "555555021"
      },
      "Waardetabel" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "example" : "6030"
          },
          "omschrijving" : {
            "type" : "string",
            "example" : "Nederland"
          }
        }
      },
      "GemeenteVanInschrijving" : {
        "pattern" : "^[0-9]{4}$",
        "type" : "string",
        "description" : "Een code die aangeeft in welke gemeente de persoon woont, of de laatste gemeente waar de persoon heeft gewoond, of de gemeente waar de persoon voor het eerst is ingeschreven.\n",
        "example" : "0518"
      },
      "Huisletter" : {
        "pattern" : "^[a-zA-Z]{1}$",
        "type" : "string",
        "description" : "Een toevoeging aan een huisnummer in de vorm van een letter die door de gemeente aan een adresseerbaar object is gegeven.\n",
        "example" : "a"
      },
      "Huisnummer" : {
        "maximum" : 99999,
        "minimum" : 1,
        "type" : "integer",
        "description" : "Een nummer dat door de gemeente aan een adresseerbaar object is gegeven.\n",
        "example" : 14
      },
      "Huisnummertoevoeging" : {
        "pattern" : "^[a-zA-Z0-9]{1,4}$",
        "type" : "string",
        "description" : "Een toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter die door de gemeente aan een adresseerbaar object is gegeven.\n",
        "example" : "bis"
      },
      "Postcode" : {
        "pattern" : "^[1-9]{1}[0-9]{3}[ ]?[A-Za-z]{2}$",
        "type" : "string",
        "description" : "De door PostNL vastgestelde code die bij een bepaalde combinatie van een straatnaam en een huisnummer hoort.\n",
        "example" : "2341SX"
      },
      "StraatFilter" : {
        "pattern" : "^(\\?+|\\*)?[a-zA-Z0-9À-ÿ '\\-\\']{1,80}(\\?+|\\*)?$",
        "type" : "string",
        "description" : "Een naam die door de gemeente aan een openbare ruimte is gegeven. **Gebruik van de wildcard is toegestaan. Zie [feature-beschrijving](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/wildcard.feature)** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.3.0/features/case_insensitive.feature).\n",
        "example" : "Tulpstraat"
      },
      "NummeraanduidingIdentificatie" : {
        "pattern" : "^[0-9]{16}$",
        "type" : "string",
        "description" : "Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.\n",
        "example" : "0518200000366054"
      },
      "Persoon" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PersoonBasis"
        }, {
          "type" : "object",
          "properties" : {
            "aNummer" : {
              "type" : "string",
              "description" : "Het A-nummer van de persoon\n"
            },
            "datumEersteInschrijvingGBA" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractPersoonInOnderzoek"
            },
            "kiesrecht" : {
              "$ref" : "#/components/schemas/Kiesrecht"
            },
            "naam" : {
              "$ref" : "#/components/schemas/NaamPersoon"
            },
            "nationaliteiten" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Nationaliteit"
              }
            },
            "geboorte" : {
              "$ref" : "#/components/schemas/Geboorte"
            },
            "opschortingBijhouding" : {
              "$ref" : "#/components/schemas/OpschortingBijhouding"
            },
            "overlijden" : {
              "$ref" : "#/components/schemas/Overlijden"
            },
            "verblijfplaats" : {
              "$ref" : "#/components/schemas/AbstractVerblijfplaats"
            },
            "gezagsverhouding" : {
              "$ref" : "#/components/schemas/Gezagsverhouding"
            },
            "verblijfstitel" : {
              "$ref" : "#/components/schemas/Verblijfstitel"
            },
            "reisdocumentnummers" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Reisdocumentnummer"
              }
            },
            "kinderen" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/AbstractKind"
              }
            },
            "ouders" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/AbstractOuder"
              }
            },
            "partners" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/AbstractPartner"
              }
            }
          }
        } ]
      },
      "AbstractPersoonInOnderzoek" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan welke gegevens van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature).\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaPersoonInOnderzoek",
            "InOnderzoek" : "#/components/schemas/PersoonInOnderzoek"
          }
        }
      },
      "GbaPersoonInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractPersoonInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "PersoonInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractPersoonInOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "burgerservicenummer" : {
              "type" : "boolean"
            },
            "geslachtsaanduiding" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "Reisdocumentnummer" : {
        "type" : "string",
        "description" : "Het nummer van het verstrekte Nederlandse reisdocument.\n",
        "example" : "546376728"
      },
      "NaamBasis" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/GbaNaamBasis"
        }, {
          "type" : "object",
          "properties" : {
            "voorletters" : {
              "$ref" : "#/components/schemas/Voorletters"
            },
            "volledigeNaam" : {
              "$ref" : "#/components/schemas/VolledigeNaam"
            },
            "adellijkeTitelPredikaat" : {
              "$ref" : "#/components/schemas/WaardetabelMetSoort"
            }
          }
        } ]
      },
      "GbaNaamBasis" : {
        "type" : "object",
        "properties" : {
          "voornamen" : {
            "$ref" : "#/components/schemas/Voornamen"
          },
          "voorvoegsel" : {
            "$ref" : "#/components/schemas/Voorvoegsel"
          },
          "geslachtsnaam" : {
            "$ref" : "#/components/schemas/Geslachtsnaam"
          },
          "adellijkeTitelPredikaat" : {
            "$ref" : "#/components/schemas/Waardetabel"
          }
        }
      },
      "Voornamen" : {
        "maxLength" : 200,
        "type" : "string",
        "description" : "De verzameling namen voor de geslachtsnaam, gescheiden door spaties.\n"
      },
      "Voorvoegsel" : {
        "maxLength" : 10,
        "type" : "string",
        "example" : "de"
      },
      "Geslachtsnaam" : {
        "maxLength" : 200,
        "type" : "string",
        "description" : "De achternaam van een persoon.\n",
        "example" : "Vries"
      },
      "Voorletters" : {
        "type" : "string",
        "description" : "De voorletters van de persoon, afgeleid van de voornamen.\n",
        "example" : "P.J."
      },
      "VolledigeNaam" : {
        "type" : "string",
        "description" : "Combinatie van voornamen, voorvoegsels en geslachtsnaam, zonder predikaat, adellijke titel of toevoeging van een eventuele partnernaam.\n",
        "example" : "Pieter Jan de Vries"
      },
      "WaardetabelMetSoort" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Waardetabel"
        }, {
          "properties" : {
            "soort" : {
              "type" : "string"
            }
          },
          "example" : {
            "value" : {
              "code" : "JV",
              "omschrijving" : "jonkvrouw",
              "soort" : "predikaat"
            }
          }
        } ]
      },
      "GeboorteBeperkt" : {
        "type" : "object",
        "properties" : {
          "datum" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "OpschortingBijhoudingBasis" : {
        "type" : "object",
        "properties" : {
          "reden" : {
            "$ref" : "#/components/schemas/Waardetabel"
          }
        },
        "description" : "* **reden** - wordt gevuld op basis van de waarden die voorkomen in de tabel 'redenopschortingbijhouding' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n"
      },
      "AbstractOverlijdenBasis" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Gegevens over het overlijden van de persoon.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaOverlijden" : "#/components/schemas/GbaOverlijdenBasis",
            "Overlijden" : "#/components/schemas/OverlijdenBasis"
          }
        }
      },
      "GbaOverlijdenBasis" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOverlijdenBasis"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "$ref" : "#/components/schemas/GbaDatumBasis"
            }
          }
        } ]
      },
      "OverlijdenBasis" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOverlijdenBasis"
        }, {
          "type" : "object",
          "properties" : {
            "indicatieOverleden" : {
              "$ref" : "#/components/schemas/IndicatieOverleden"
            }
          }
        } ]
      },
      "IndicatieOverleden" : {
        "type" : "boolean",
        "description" : "Geeft aan dat iemand is overleden (waarde true), ongeacht of de overlijdensdatum bekend is.\n"
      },
      "AbstractVerblijfplaatsBeperkt" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Gegevens over het verblijf of de woonlocatie van een persoon.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaVerblijfplaats" : "#/components/schemas/GbaVerblijfplaatsBeperkt",
            "VerblijfplaatsBuitenland" : "#/components/schemas/VerblijfplaatsBuitenlandBeperkt",
            "Adres" : "#/components/schemas/AdresBeperkt",
            "VerblijfplaatsOnbekend" : "#/components/schemas/VerblijfplaatsOnbekend",
            "Locatie" : "#/components/schemas/LocatieBeperkt"
          }
        }
      },
      "GbaVerblijfplaatsBeperkt" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaatsBeperkt"
        }, {
          "type" : "object",
          "properties" : {
            "straat" : {
              "$ref" : "#/components/schemas/Straat"
            },
            "huisnummer" : {
              "$ref" : "#/components/schemas/Huisnummer"
            },
            "huisletter" : {
              "$ref" : "#/components/schemas/Huisletter"
            },
            "huisnummertoevoeging" : {
              "$ref" : "#/components/schemas/Huisnummertoevoeging"
            },
            "aanduidingBijHuisnummer" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "postcode" : {
              "$ref" : "#/components/schemas/Postcode"
            },
            "locatiebeschrijving" : {
              "$ref" : "#/components/schemas/Locatiebeschrijving"
            },
            "land" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/GemeenteVanInschrijving"
            },
            "adresregel1" : {
              "$ref" : "#/components/schemas/Adresregel1"
            },
            "adresregel2" : {
              "$ref" : "#/components/schemas/Adresregel2"
            },
            "adresregel3" : {
              "$ref" : "#/components/schemas/Adresregel3"
            }
          }
        } ]
      },
      "Straat" : {
        "pattern" : "^[a-zA-Z0-9À-ÿ '\\-\\']{1,80}$",
        "type" : "string",
        "example" : "Tulpstraat"
      },
      "Locatiebeschrijving" : {
        "type" : "string",
        "description" : "Omschrijving van de ligging van een verblijfsobject, standplaats of ligplaats.\n",
        "example" : "Naast de derde brug"
      },
      "Adresregel1" : {
        "type" : "string",
        "description" : "Het eerste deel van een adres is een combinatie van de straat en huisnummer.\n",
        "example" : "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
      },
      "Adresregel2" : {
        "type" : "string",
        "description" : "Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode.\n",
        "example" : "1234AA Nootdorp"
      },
      "Adresregel3" : {
        "type" : "string",
        "description" : "Het derde deel van een adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.\n",
        "example" : "Selangor"
      },
      "VerblijfplaatsBuitenlandBeperkt" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaatsBeperkt"
        }, {
          "type" : "object",
          "properties" : {
            "adresregel1" : {
              "$ref" : "#/components/schemas/Adresregel1"
            },
            "adresregel2" : {
              "$ref" : "#/components/schemas/Adresregel2"
            },
            "adresregel3" : {
              "$ref" : "#/components/schemas/Adresregel3"
            },
            "land" : {
              "$ref" : "#/components/schemas/Waardetabel"
            }
          }
        } ]
      },
      "AdresBeperkt" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaatsBeperkt"
        }, {
          "type" : "object",
          "properties" : {
            "functieAdres" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "adresregel1" : {
              "$ref" : "#/components/schemas/Adresregel1"
            },
            "adresregel2" : {
              "$ref" : "#/components/schemas/Adresregel2"
            },
            "woonplaats" : {
              "$ref" : "#/components/schemas/Woonplaats"
            }
          }
        } ]
      },
      "Woonplaats" : {
        "title" : "woonplaats naam",
        "pattern" : "^[a-zA-Z0-9À-ÿ '\\-\\']{1,80}$",
        "type" : "string",
        "description" : "Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam.\n",
        "example" : "Duiven"
      },
      "VerblijfplaatsOnbekend" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "vertrokkenOnbekendWaarheen" : {
              "$ref" : "#/components/schemas/VertrokkenOnbekendWaarheen"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/VerblijfplaatsOnbekendInOnderzoek"
            }
          }
        } ]
      },
      "AbstractVerblijfplaats" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Gegevens over het verblijf of de woonlocatie van een persoon.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaVerblijfplaats" : "#/components/schemas/GbaVerblijfplaats",
            "VerblijfplaatsBuitenland" : "#/components/schemas/VerblijfplaatsBuitenland",
            "Adres" : "#/components/schemas/Adres",
            "VerblijfplaatsOnbekend" : "#/components/schemas/VerblijfplaatsOnbekend",
            "Locatie" : "#/components/schemas/Locatie"
          }
        }
      },
      "GbaVerblijfplaats" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "straat" : {
              "$ref" : "#/components/schemas/Straat"
            },
            "huisnummer" : {
              "$ref" : "#/components/schemas/Huisnummer"
            },
            "huisletter" : {
              "$ref" : "#/components/schemas/Huisletter"
            },
            "huisnummertoevoeging" : {
              "$ref" : "#/components/schemas/Huisnummertoevoeging"
            },
            "aanduidingBijHuisnummer" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "postcode" : {
              "$ref" : "#/components/schemas/Postcode"
            },
            "locatiebeschrijving" : {
              "$ref" : "#/components/schemas/Locatiebeschrijving"
            },
            "land" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "datumAanvangAdreshouding" : {
              "$ref" : "#/components/schemas/GbaDatum"
            },
            "datumAanvangAdresBuitenland" : {
              "$ref" : "#/components/schemas/GbaDatum"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/GemeenteVanInschrijving"
            },
            "naamOpenbareRuimte" : {
              "$ref" : "#/components/schemas/NaamOpenbareRuimte"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/GbaInOnderzoek"
            }
          }
        } ]
      },
      "NaamOpenbareRuimte" : {
        "type" : "string"
      },
      "VerblijfplaatsBuitenland" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "adresregel1" : {
              "$ref" : "#/components/schemas/Adresregel1"
            },
            "adresregel2" : {
              "$ref" : "#/components/schemas/Adresregel2"
            },
            "adresregel3" : {
              "$ref" : "#/components/schemas/Adresregel3"
            },
            "land" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "datumVan" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/VerblijfplaatsBuitenlandInOnderzoek"
            }
          }
        } ]
      },
      "VerblijfplaatsBuitenlandInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "verblijfBuitenland" : {
            "type" : "boolean"
          },
          "datumVan" : {
            "type" : "boolean"
          },
          "datumIngangGeldigheid" : {
            "type" : "boolean"
          },
          "datumIngangOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "Adres" : {
        "description" : "Gegevens over het adres van een persoon.\n* **datumVan** : de datum van aangifte of ambtshalve melding van verblijf en adres.\n* **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden.\n* **datumInschrijvingInGemeente**: bij inschrijving op grond van een verhuisaangifte door de burger is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop het voornemen van ambtshalve opneming schriftelijk aan de persoon is medegedeeld.\n* **datumVestigingInNederland** : datum van inschrijving in Nederland.\n* **landVanWaarIngeschreven** : het land waar de persoon woonde voor (her)vestiging in Nederland.\n* **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten.\"\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "functieAdres" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "straat" : {
              "$ref" : "#/components/schemas/Straat"
            },
            "huisnummer" : {
              "$ref" : "#/components/schemas/Huisnummer"
            },
            "huisletter" : {
              "$ref" : "#/components/schemas/Huisletter"
            },
            "huisnummertoevoeging" : {
              "$ref" : "#/components/schemas/Huisnummertoevoeging"
            },
            "aanduidingBijHuisnummer" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "postcode" : {
              "$ref" : "#/components/schemas/Postcode"
            },
            "adresseerbaarObjectIdentificatie" : {
              "$ref" : "#/components/schemas/AdresseerbaarObjectIdentificatie"
            },
            "nummeraanduidingIdentificatie" : {
              "$ref" : "#/components/schemas/NummeraanduidingIdentificatie"
            },
            "adresregel1" : {
              "$ref" : "#/components/schemas/Adresregel1"
            },
            "adresregel2" : {
              "$ref" : "#/components/schemas/Adresregel2"
            },
            "woonplaats" : {
              "$ref" : "#/components/schemas/Woonplaats"
            },
            "indicatieVestigingVanuitBuitenland" : {
              "$ref" : "#/components/schemas/IndicatieVestigingVanuitBuitenland"
            },
            "korteNaam" : {
              "$ref" : "#/components/schemas/KorteNaam"
            },
            "vanuitVertrokkenOnbekendWaarheen" : {
              "$ref" : "#/components/schemas/VanuitVertrokkenOnbekendWaarheen"
            },
            "datumVan" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumInschrijvingInGemeente" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumVestigingInNederland" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "landVanwaarIngeschreven" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/VerblijfplaatsInOnderzoek"
            }
          }
        } ]
      },
      "AdresseerbaarObjectIdentificatie" : {
        "type" : "string",
        "description" : "De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn.\n",
        "example" : "0226010000038820"
      },
      "IndicatieVestigingVanuitBuitenland" : {
        "type" : "boolean",
        "description" : "Geeft aan dat de persoon zich vanuit het buitenland heeft ingeschreven.\n"
      },
      "KorteNaam" : {
        "type" : "string",
        "description" : "De officiële openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie.\n"
      },
      "VanuitVertrokkenOnbekendWaarheen" : {
        "type" : "boolean",
        "description" : "Geeft aan dat de persoon is teruggekeerd uit een situatie van 'vertrokken onbekend waarheen\n"
      },
      "VerblijfplaatsInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "aanduidingBijHuisnummer" : {
            "type" : "boolean"
          },
          "datumVan" : {
            "type" : "boolean"
          },
          "datumIngangGeldigheid" : {
            "type" : "boolean"
          },
          "datumInschrijvingInGemeente" : {
            "type" : "boolean"
          },
          "datumVestigingInNederland" : {
            "type" : "boolean"
          },
          "functieAdres" : {
            "type" : "boolean"
          },
          "gemeenteVanInschrijving" : {
            "type" : "boolean"
          },
          "huisletter" : {
            "type" : "boolean"
          },
          "huisnummer" : {
            "type" : "boolean"
          },
          "huisnummertoevoeging" : {
            "type" : "boolean"
          },
          "nummeraanduidingIdentificatie" : {
            "type" : "boolean"
          },
          "adresseerbaarObjectIdentificatie" : {
            "type" : "boolean"
          },
          "landVanwaarIngeschreven" : {
            "type" : "boolean"
          },
          "straat" : {
            "type" : "boolean"
          },
          "postcode" : {
            "type" : "boolean"
          },
          "korteNaam" : {
            "type" : "boolean"
          },
          "woonplaats" : {
            "type" : "boolean"
          },
          "datumIngangOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "Locatie" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "adresregel1" : {
              "$ref" : "#/components/schemas/Adresregel1"
            },
            "adresregel2" : {
              "$ref" : "#/components/schemas/Adresregel2"
            },
            "datumInschrijvingInGemeente" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumVestigingInNederland" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "functieAdres" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "indicatieVestigingVanuitBuitenland" : {
              "$ref" : "#/components/schemas/IndicatieVestigingVanuitBuitenland"
            },
            "landVanwaarIngeschreven" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "locatiebeschrijving" : {
              "$ref" : "#/components/schemas/Locatiebeschrijving"
            },
            "vanuitVertrokkenOnbekendWaarheen" : {
              "$ref" : "#/components/schemas/VanuitVertrokkenOnbekendWaarheen"
            },
            "woonplaats" : {
              "$ref" : "#/components/schemas/Woonplaats"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/LocatieInOnderzoek"
            }
          }
        } ]
      },
      "LocatieInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "datumInschrijvingInGemeente" : {
            "type" : "boolean"
          },
          "datumVestigingInNederland" : {
            "type" : "boolean"
          },
          "functieAdres" : {
            "type" : "boolean"
          },
          "gemeenteVanInschrijving" : {
            "type" : "boolean"
          },
          "landVanwaarIngeschreven" : {
            "type" : "boolean"
          },
          "locatiebeschrijving" : {
            "type" : "boolean"
          },
          "woonplaats" : {
            "type" : "boolean"
          },
          "datumIngangOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "VertrokkenOnbekendWaarheen" : {
        "type" : "boolean",
        "description" : "Indicatie dat de persoon is vertrokken naar het buitenland, maar dat niet bekend is waar naar toe.\n"
      },
      "VerblijfplaatsOnbekendInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "land" : {
            "type" : "boolean"
          }
        }
      },
      "LocatieBeperkt" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaatsBeperkt"
        }, {
          "type" : "object",
          "properties" : {
            "adresregel1" : {
              "$ref" : "#/components/schemas/Adresregel1"
            },
            "adresregel2" : {
              "$ref" : "#/components/schemas/Adresregel2"
            },
            "functieAdres" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "locatiebeschrijving" : {
              "$ref" : "#/components/schemas/Locatiebeschrijving"
            },
            "woonplaats" : {
              "$ref" : "#/components/schemas/Woonplaats"
            }
          }
        } ]
      },
      "AbstractGeheimhoudingPersoonsgegevens" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaGeheimhouding" : "#/components/schemas/GbaGeheimhoudingPersoonsgegevens",
            "Geheimhouding" : "#/components/schemas/GeheimhoudingPersoonsgegevens"
          }
        }
      },
      "GbaGeheimhoudingPersoonsgegevens" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractGeheimhoudingPersoonsgegevens"
        }, {
          "type" : "object",
          "properties" : {
            "waarde" : {
              "type" : "integer"
            }
          }
        } ]
      },
      "GeheimhoudingPersoonsgegevens" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractGeheimhoudingPersoonsgegevens"
        }, {
          "type" : "object",
          "properties" : {
            "geheimhouding" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "AbstractDatum" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaDatum" : "#/components/schemas/GbaDatum",
            "Datum" : "#/components/schemas/VolledigDatum",
            "OnbekendDatum" : "#/components/schemas/OnbekendDatum",
            "JaarDatum" : "#/components/schemas/JaarDatum",
            "JaarMaandDatum" : "#/components/schemas/JaarMaandDatum"
          }
        }
      },
      "GbaDatum" : {
        "required" : [ "datum" ],
        "description" : "Datum conform LO GBA",
        "example" : {
          "value" : {
            "type" : "GbaDatum",
            "datum" : "20180700"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "$ref" : "#/components/schemas/GbaDatumBasis"
        } ]
      },
      "GbaDatumBasis" : {
        "type" : "object",
        "properties" : {
          "datum" : {
            "pattern" : "^[0-9]{8}$",
            "type" : "string"
          }
        }
      },
      "VolledigDatum" : {
        "required" : [ "datum" ],
        "description" : "Datum conform iso8601",
        "example" : {
          "value" : {
            "type" : "Datum",
            "datum" : "2018-07-01"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "type" : "string",
              "format" : "date"
            }
          }
        } ]
      },
      "OnbekendDatum" : {
        "required" : [ "onbekend" ],
        "description" : "representatie voor een volledig onbekend datum",
        "example" : {
          "value" : {
            "type" : "OnbekendDatum",
            "onbekend" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "onbekend" : {
              "type" : "boolean",
              "default" : true
            }
          }
        } ]
      },
      "JaarDatum" : {
        "required" : [ "jaar" ],
        "description" : "representatie voor een datum waarvan maand en dag onbekend zijn",
        "example" : {
          "value" : {
            "type" : "JaarDatum",
            "jaar" : 2018
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "jaar" : {
              "$ref" : "#/components/schemas/Jaar"
            }
          }
        } ]
      },
      "Jaar" : {
        "maximum" : 9999,
        "minimum" : 1,
        "type" : "integer",
        "format" : "int32"
      },
      "JaarMaandDatum" : {
        "required" : [ "jaar", "maand" ],
        "description" : "representatie voor een datum waarvan de dag onbekend is",
        "example" : {
          "value" : {
            "type" : "JaarMaandDatum",
            "jaar" : 2018,
            "maand" : 7
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "jaar" : {
              "$ref" : "#/components/schemas/Jaar"
            },
            "maand" : {
              "$ref" : "#/components/schemas/Maand"
            }
          }
        } ]
      },
      "Maand" : {
        "maximum" : 12,
        "minimum" : 1,
        "type" : "integer",
        "format" : "int32"
      },
      "Kiesrecht" : {
        "type" : "object",
        "properties" : {
          "europeesKiesrecht" : {
            "type" : "boolean",
            "description" : "Geeft aan of persoon een oproep moet ontvangen voor verkiezingen voor het Europees parlement.\n",
            "example" : true
          },
          "uitgeslotenVanKiesrecht" : {
            "type" : "boolean",
            "example" : true
          },
          "einddatumUitsluitingEuropeesKiesrecht" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "einddatumUitsluitingKiesrecht" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "NaamPersoon" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/NaamBasis"
        }, {
          "properties" : {
            "aanhef" : {
              "$ref" : "#/components/schemas/Aanhef"
            },
            "aanschrijfwijze" : {
              "$ref" : "#/components/schemas/Aanschrijfwijze"
            },
            "regelVoorafgaandAanAanschrijfwijze" : {
              "$ref" : "#/components/schemas/RegelVoorafgaandAanAanschrijfwijze"
            },
            "gebruikInLopendeTekst" : {
              "$ref" : "#/components/schemas/GebruikInLopendeTekst"
            },
            "aanduidingNaamgebruik" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractNaamPersoonInOnderzoek"
            }
          }
        } ]
      },
      "Aanhef" : {
        "type" : "string",
        "description" : "Kun je gebruiken als aanhef in een brief gericht aan persoon.\n",
        "example" : "Hoogwelgeboren heer"
      },
      "Aanschrijfwijze" : {
        "type" : "string",
        "description" : "Samengestelde naam die je kunt gebruiken in de communicatie met de persoon.\n",
        "example" : "H.W. baron van den Aedel"
      },
      "RegelVoorafgaandAanAanschrijfwijze" : {
        "type" : "string",
        "description" : "Deze regel moet als aparte regel boven de aanschrijfwijze worden geplaatst. Komt alleen voor bij personen met een adellijke titel of predicaat.\n",
        "example" : "De hoogwelgeboren heer"
      },
      "GebruikInLopendeTekst" : {
        "type" : "string",
        "description" : "Naam van persoon die je kunt gebruiken als je in lopende tekst (bijvoorbeeld in een brief) aan persoon refereert.\n",
        "example" : "baron Van den Aedel"
      },
      "AbstractNaamPersoonInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan welke gegevens over de naam in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaNaamPersoonInOnderzoek",
            "InOnderzoek" : "#/components/schemas/NaamPersoonInOnderzoek"
          }
        }
      },
      "GbaNaamPersoonInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNaamPersoonInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "NaamPersoonInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNaamPersoonInOnderzoek"
        }, {
          "properties" : {
            "geslachtsnaam" : {
              "type" : "boolean"
            },
            "voornamen" : {
              "type" : "boolean"
            },
            "voorvoegsel" : {
              "type" : "boolean"
            },
            "adellijkeTitelPredikaat" : {
              "type" : "boolean"
            },
            "aanduidingNaamgebruik" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "Nationaliteit" : {
        "description" : "* **redenOpname** : De reden op grond waarvan de persoon de nationaliteit gekregen heeft.\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "nationaliteit" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/NationaliteitInOnderzoek"
            }
          }
        } ]
      },
      "AbstractNationaliteit" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "redenOpname" : {
            "$ref" : "#/components/schemas/Waardetabel"
          }
        },
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaNationaliteit" : "#/components/schemas/GbaNationaliteit",
            "Nationaliteit" : "#/components/schemas/Nationaliteit",
            "BehandeldAlsNederlander" : "#/components/schemas/BehandeldAlsNederlander",
            "VastgesteldNietNederlander" : "#/components/schemas/VastgesteldNietNederlander"
          }
        }
      },
      "GbaNationaliteit" : {
        "description" : "Bij de LO GBA versie kunnen datums, bijv datumIngangGeldigheid de LoGbaDatum refereren\nHet hoeft niet van AbstractDatum af te leiden omdat het nooit een andere type kan zijn\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/GbaDatumBasis"
            },
            "nationaliteit" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "aanduidingBijzonderNederlandschap" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/GbaInOnderzoek"
            }
          }
        } ]
      },
      "BehandeldAlsNederlander" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/BijzonderNederlanderschapInOnderzoek"
            }
          }
        } ]
      },
      "BijzonderNederlanderschapInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "aanduidingBijzonderNederlanderschap" : {
            "type" : "boolean"
          },
          "redenOpname" : {
            "type" : "boolean"
          },
          "datumIngangOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "VastgesteldNietNederlander" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/BijzonderNederlanderschapInOnderzoek"
            }
          }
        } ]
      },
      "NationaliteitInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "aanduidingBijzonderNederlanderschap" : {
            "type" : "boolean"
          },
          "nationaliteit" : {
            "type" : "boolean"
          },
          "redenOpname" : {
            "type" : "boolean"
          },
          "datumIngangOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        },
        "description" : "Geeft aan welke gegevens over de nationaliteit in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n"
      },
      "Geboorte" : {
        "type" : "object",
        "properties" : {
          "datum" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "land" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "plaats" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractGeboorteInOnderzoek"
          }
        },
        "description" : "Gegevens over de geboorte.\n* **datum** : datum waarop de persoon is geboren.\n* **land** : land waar de persoon is geboren\n* **plaats** : gemeente waar de persoon is geboren. Is de persoon geboren buiten Nederland, dan bevat het antwoord alleen een buitenlandse plaatsnaam of aanduiding.\n"
      },
      "AbstractGeboorteInOnderzoek" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan welke gegevens over de geboorte van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaGeboorteInOnderzoek",
            "InOnderzoek" : "#/components/schemas/GeboorteInOnderzoek"
          }
        }
      },
      "GbaGeboorteInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractGeboorteInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "GeboorteInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractGeboorteInOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "type" : "boolean"
            },
            "land" : {
              "type" : "boolean"
            },
            "plaats" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "OpschortingBijhouding" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/OpschortingBijhoudingBasis"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          },
          "description" : "* **datum**: de datum waarop de bijhouding van de persoonsgegevens is gestaakt.\n"
        } ]
      },
      "Overlijden" : {
        "type" : "object",
        "properties" : {
          "datum" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "land" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "plaats" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "indicatieOverleden" : {
            "$ref" : "#/components/schemas/IndicatieOverleden"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractOverlijdenInOnderzoek"
          }
        },
        "description" : "Gegevens over het overlijden van de persoon.\n* **datum** : datum waarop de persoon is overleden.\n* **land** : land waar de persoon is overleden.\n* **plaats** : gemeente waar de persoon is overleden. Is de persoon overleden buiten Nederland, dan bevat het antwoord alleen een buitenlandse plaatsnaam of aanduiding.\n"
      },
      "AbstractOverlijdenInOnderzoek" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan welke gegevens over het overlijden van de persoon in onderzoek zijn.\nZie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaOverlijdenInOnderzoek",
            "InOnderzoek" : "#/components/schemas/OverlijdenInOnderzoek"
          }
        }
      },
      "GbaOverlijdenInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOverlijdenInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "OverlijdenInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOverlijdenInOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "type" : "boolean"
            },
            "land" : {
              "type" : "boolean"
            },
            "plaats" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "Gezagsverhouding" : {
        "type" : "object",
        "properties" : {
          "indicatieCurateleRegister" : {
            "type" : "boolean",
            "description" : "Geeft aan dat de persoon onder curatele is gesteld.\n",
            "example" : true
          },
          "indicatieGezagMinderjarige" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractGezagsverhoudingInOnderzoek"
          }
        },
        "description" : "Gegevens over het gezag over de persoon.\n"
      },
      "AbstractGezagsverhoudingInOnderzoek" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan welke gegevens van de gezagsverhouding in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaGezagsverhoudingInOnderzoek",
            "InOnderzoek" : "#/components/schemas/GezagsverhoudingInOnderzoek"
          }
        }
      },
      "GbaGezagsverhoudingInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractGezagsverhoudingInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "GezagsverhoudingInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractGezagsverhoudingInOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "indicatieCurateleRegister" : {
              "type" : "boolean"
            },
            "indicatieGezagMinderjarige" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "Verblijfstitel" : {
        "type" : "object",
        "properties" : {
          "aanduiding" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "datumEinde" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "datumIngang" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractVerblijfstitelInOnderzoek"
          }
        },
        "description" : "Gegevens over de verblijfsrechtelijke status van de persoon.\n* **datumEinde**: Datum waarop de geldigheid van de gegevens over de verblijfstitel is beëindigd.\n* **datumIngang**: Datum waarop de gegevens over de verblijfstitel geldig zijn geworden.\n* **aanduiding** : Verblijfstiteltabel die aangeeft over welke verblijfsrechtelijke status de persoon beschikt.\n"
      },
      "AbstractVerblijfstitelInOnderzoek" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan welke gegevens over de verblijfstitel in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaVerblijfstitelInOnderzoek",
            "InOnderzoek" : "#/components/schemas/VerblijfstitelInOnderzoek"
          }
        }
      },
      "GbaVerblijfstitelInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfstitelInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "VerblijfstitelInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfstitelInOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "aanduiding" : {
              "type" : "boolean"
            },
            "datumEinde" : {
              "type" : "boolean"
            },
            "datumIngang" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "AbstractKind" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Gegevens over een kind van de persoon.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "Kind" : "#/components/schemas/Kind",
            "OnbekendKind" : "#/components/schemas/OnbekendKind"
          }
        }
      },
      "Kind" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractKind"
        }, {
          "type" : "object",
          "properties" : {
            "identificatie" : {
              "$ref" : "#/components/schemas/PersoonIdentificatie"
            },
            "burgerservicenummer" : {
              "$ref" : "#/components/schemas/Burgerservicenummer"
            },
            "leeftijd" : {
              "type" : "integer",
              "description" : "Leeftijd op het moment van bevragen\n",
              "example" : 12
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractKindInOnderzoek"
            },
            "naam" : {
              "$ref" : "#/components/schemas/NaamGerelateerde"
            },
            "geboorte" : {
              "$ref" : "#/components/schemas/Geboorte"
            }
          }
        } ]
      },
      "AbstractKindInOnderzoek" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan of de gegevens over het kind van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaKindInOnderzoek",
            "InOnderzoek" : "#/components/schemas/KindInOnderzoek"
          }
        }
      },
      "GbaKindInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractKindInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "KindInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractKindInOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "burgerservicenummer" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "OnbekendKind" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractKind"
        }, {
          "type" : "object",
          "properties" : {
            "indicatieOnbekend" : {
              "type" : "boolean",
              "default" : false
            }
          }
        } ]
      },
      "AbstractOuder" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Gegevens over de ouder van de persoon.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "Ouder" : "#/components/schemas/Ouder",
            "OnbekendOuder" : "#/components/schemas/OnbekendOuder"
          }
        }
      },
      "Ouder" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOuder"
        }, {
          "type" : "object",
          "properties" : {
            "identificatie" : {
              "$ref" : "#/components/schemas/PersoonIdentificatie"
            },
            "burgerservicenummer" : {
              "$ref" : "#/components/schemas/Burgerservicenummer"
            },
            "geslachtsaanduiding" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "ouderAanduiding" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "datumIngangFamilierechtelijkeBetrekking" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "naam" : {
              "$ref" : "#/components/schemas/NaamGerelateerde"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractOuderInOnderzoek"
            },
            "geboorte" : {
              "$ref" : "#/components/schemas/Geboorte"
            }
          },
          "description" : "Gegevens over de ouder van de persoon.\n* **datumIngangFamilierechtelijkeBetrekking** - De datum waarop de familierechtelijke betrekking is ontstaan.\n"
        } ]
      },
      "AbstractOuderInOnderzoek" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Geeft aan welke gegevens van de de ouder in onderzoek zijn.\nZie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "GbaInOnderzoek" : "#/components/schemas/GbaOuderInOnderzoek",
            "InOnderzoek" : "#/components/schemas/OuderInOnderzoek"
          }
        }
      },
      "GbaOuderInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOuderInOnderzoek"
        }, {
          "$ref" : "#/components/schemas/GbaInOnderzoek"
        } ]
      },
      "OuderInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOuderInOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "burgerservicenummer" : {
              "type" : "boolean"
            },
            "datumIngangFamilierechtelijkeBetrekking" : {
              "type" : "boolean"
            },
            "geslachtsaanduiding" : {
              "type" : "boolean"
            },
            "datumIngangOnderzoek" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            }
          }
        } ]
      },
      "OnbekendOuder" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractOuder"
        }, {
          "type" : "object",
          "properties" : {
            "indicatieOnbekend" : {
              "type" : "boolean",
              "default" : false
            }
          }
        } ]
      },
      "AbstractPartner" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
[...]
