openapi: 3.0.0
servers:
  - description: "APILAB testserver"
    url: https://www.haalcentraal.nl/haalcentraal/api/brp
info:
  title: Bevragingen ingeschreven personen
  description: "API voor het zoeken en raadplegen van actuele ingeschreven personen uit de BRP (inclusief RNI), hun kinderen, partners en ouders. Bij een beëindigd huwelijk of partnerschap retourneert de API geen partner.


    Zie de [Functionele documentatie](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/tree/v1.0.0/features) voor nadere toelichting. <br> "
  version: "1.0.0"
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
paths:
  /ingeschrevenpersonen:
    get:
      operationId: ingeschrevenNatuurlijkPersonen
      summary: Vindt personen
      description: |
        Zoek personen met één van de onderstaande verplichte combinaties van parameters en vul ze evt. aan met parameters uit de andere combinaties.


        Default krijg je personen terug die nog in leven zijn, tenzij je de inclusiefoverledenpersonen=true opgeeft.


        Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, [zie functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/fields_extensie.feature)


        Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources kinderen, ouders of partners, [zie functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-Common/blob/v1.1.0/features/expand.feature)


        1.  Persoon
            -  geboorte__datum
            -  naam__geslachtsnaam (minimaal 2 karakters, [wildcard toegestaan](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.1.0/features/wildcard.feature)


        2.  Persoon
            -  verblijfplaats__gemeenteVanInschrijving
            -  naam__geslachtsnaam (minimaal 2 karakters, [wildcard toegestaan](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.1.0/features/wildcard.feature)


        3.  Persoon
            -  burgerservicenummer


        4.  Postcode
            -  verblijfplaats__postcode
            -  verblijfplaats__huisnummer


        5.  Straat
            -  verblijfplaats__straat (minimaal 2 karakters, [wildcard toegestaan](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.1.0/features/wildcard.feature) )
            -  verblijfplaats__gemeenteVanInschrijving
            -  verblijfplaats__huisnummer


        6.  Adres
            -  veblijfplaats__nummeraanduidingIdentificatie

        De bovenstaande combinaties van parameters mogen gecombineerd worden met de overige beschikbare query-parameters, maar binnen iedere combinatie zijn de hier genoemde velden **verplicht**.


        Default levert een zoekvraag alleen personen op die nog in leven zijn. Indien **_inclusiefoverledenpersonen_** de waarde **_true_** heeft worden [overleden personen](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/overleden_personen.feature) opgenomen in het zoekresultaat.


        Het maximale aantal zoekresultaten dat geretourneerd wordt is aan de provider om te bepalen. Als het resultaat van de de request dit aantal overtreft worden er geen resultaten geretourneerd en volgt er een foutmelding.


         Er vind geen sortering plaats.
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/expand"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: burgerservicenummer
          required: false
          description: "Het burgerservicenummer, bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer. Alle nummers waarvoor geldt dat, indien aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), het resultaat van (9*s0) + (8*s1) + (7*s2) +...+ (2*s7) - (1*s8) deelbaar is door elf. Er moeten dus 9 cijfers aanwezig zijn."
          explode: false
          example: 999993653,999991723,999995078
          schema:
            type: array
            items:
              type: string
              pattern: "^[0-9]*$"
              maxLength: 9
              minLength: 9
        - in: query
          name: geboorte__datum
          description: "Er kan alleen gezocht worden met een volledige geboortedatum. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/parametervalidatie.feature)"
          required: false
          schema:
            type: string
            format: date
            example: "1964-09-24"
        - in: query
          name: geboorte__plaats
          description: "Gemeentenaam of een buitenlandse plaats of een plaatsbepaling, die aangeeft waar de persoon is geboren. **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/case_insensitive.feature).**"
          required: false
          schema:
            type: string
            maxLength: 40
            example: "Utrecht"
        - in: query
          name: geslachtsaanduiding
          description: "Een aanduiding die aangeeft dat de ingeschrevene een man of een vrouw is, of dat het geslacht (nog) onbekend is."
          required: false
          schema:
              $ref: "#/components/schemas/Geslacht_enum"
        - in: query
          name: inclusiefOverledenPersonen
          description: "Indien in het antwoord op de zoekvraag ook overleden personen moeten worden geretourneerd, dan dient de parameter *inclusiefOverledenPersonen* opgenomen te zijn met de waarde _True_. Indien de parameter *inclusiefOverledenPersonen* ontbreekt of de waarde _False_ heeft worden geen overleden personen opgenomen in het zoekresultaat. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/overleden_personen.feature)"
          required: false
          schema:
            type: boolean
            example: true
        - in: query
          name: naam__geslachtsnaam
          description: "De (geslachts)naam waarvan de eventueel aanwezige voorvoegsels en adellijke titel/predikaat zijn afgesplitst. **Gebruik van de wildcard is toegestaan. Zie [feature-beschrijving](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.1.0/features/wildcard.feature)** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/case_insensitive.feature).**"
          required: false
          schema:
            type: string
            maxLength: 200
            example: "Vries"
        - in: query
          name: naam__voornamen
          description: "De verzameling namen die, gescheiden door spaties, aan de geslachtsnaam voorafgaat. ** Bij deze query-parameter is het gebruik van een [wildcard](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.1.0/features/wildcard.feature) toegestaan in combinatie met minimaal 2 karakters.** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/case_insensitive.feature).**"
          required: false
          schema:
            type: string
            maxLength: 200
            example: "Dirk"
        - in: query
          name: verblijfplaats__gemeenteVanInschrijving
          description: "Een code die aangeeft in welke gemeente de PL zich bevindt of de gemeente waarnaar de PL is uitgeschreven of de gemeente waar de PL voor de eerste keer is opgenomen. De waarde (0000) is geen geldige inhoud voor de query-parameter."
          required: false
          schema:
            type: string
            maxLength: 4
            example: "0518"
        - in: query
          name: verblijfplaats__huisletter
          description: "Een door of namens het bevoegd gemeentelijk orgaan ten aanzien van een adresseerbaar object toegekende toevoeging aan een huisnummer in de vorm van een alfanumeriek teken."
          required: false
          schema:
            type: string
            maxLength: 1
            example: "a"
        - in: query
          name: verblijfplaats__huisnummer
          description: "Een door of namens het bevoegd gemeentelijk orgaan ten aanzien van een adresseerbaar object toegekende nummering. Alle natuurlijke getallen tussen 1 en 99999."
          required: false
          schema:
            type: integer
            maximum: 99999
            example: 14
        - in: query
          name: verblijfplaats__huisnummertoevoeging
          description: "Een door of namens het bevoegd gemeentelijk orgaan ten aanzien van een adresseerbaar object toegekende nadere toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter. a - z , A - Z , 0 - 9"
          required: false
          schema:
            type: string
            maxLength: 4
            example: "bis"
        - in: query
          name: verblijfplaats__nummeraanduidingIdentificatie
          description: "De unieke aanduiding van een NUMMERAANDUIDING. Combinatie van de viercijferige 'gemeentecode' , de tweecijferige 'objecttypecode' en een voor het betreffende objecttype binnen een gemeente uniek tiencijferig 'objectvolgnummer'. De objecttypecode kent in de BAG de volgende waarde:20 nummeraanduiding."
          required: false
          schema:
            type: string
            maxLength: 16
            example: "0518200000366054"
        - in: query
          name: verblijfplaats__straat
          description: "Een door het bevoegde gemeentelijke orgaan aan een OPENBARE RUIMTE toegekende benaming **Gebruik van de wildcard is toegestaan. Zie [feature-beschrijving](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.1.0/features/wildcard.feature)** **Zoeken met tekstvelden is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/case_insensitive.feature).** Tekens gecodeerd volgens de UTF-8 standaard"
          required: false
          schema:
            type: string
            maxLength: 80
            example: "Tulpstraat"
        - in: query
          name: verblijfplaats__postcode
          description: "De door PostNL vastgestelde code behorende bij een bepaalde combinatie van een naam van een woonplaats, naam van een openbare ruimte en een huisnummer"
          required: false
          schema:
            type: string
            pattern: ^[1-9]{1}[0-9]{3}[A-Z]{2}$
            example: "2341SX"
        - in: query
          name: naam__voorvoegsel
          description: "Dat deel van de geslachtsnaam dat voorkomt in de Voorvoegseltabel en, gescheiden door een spatie, vooraf gaat aan de rest van de geslachtsnaam. **De tabel bevat vorvoegsels met hoofdletters en met kleine letters. Het zoeken op het voorvoegsel is [case-Insensitive](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/case_insensitive.feature).**"
          required: false
          schema:
            type: string
            maxLength: 10
            example: "de"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/IngeschrevenPersoonHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}:
    get:
      operationId: ingeschrevenNatuurlijkPersoon
      summary: Raadpleeg een persoon
      description: "Raadpleeg een (overleden) persoon.


      Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, [zie functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/fields_extensie.feature).


      Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources kinderen, ouders of partners, [zie functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-Common/blob/v1.1.0/features/expand.feature)."
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/expand"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/fields"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/IngeschrevenPersoonHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}/kinderen/{id}:
    get:
      operationId: ingeschrevenpersonenBurgerservicenummerkinderenId
      summary: "Raadpleeg een kind van een persoon"
      description: "Raadpleeg een kind van een persoon"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - in: path
          name: id
          description: "De identificatie van het kind."
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KindHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}/kinderen:
    get:
      operationId: ingeschrevenpersonenBurgerservicenummerkinderen
      summary: "Levert de kinderen van een persoon"
      description: "Levert de kinderen van een persoon"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KindHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}/ouders/{id}:
    get:
      operationId: ingeschrevenpersonenBurgerservicenummeroudersId
      summary: "Raadpleeg een ouder van een persoon"
      description: "Raadpleeg een ouder van een persoon"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - in: path
          name: id
          description: "De identificatie van de ouder."
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OuderHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}/ouders:
    get:
      operationId: ingeschrevenpersonenBurgerservicenummerouders
      summary: "Levert de ouders van een persoon"
      description: "Levert de ouders van een persoon"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OuderHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}/partners/{id}:
    get:
      operationId: ingeschrevenpersonenBurgerservicenummerpartnersId
      summary: "Raadpleeg de partner van een persoon"
      description: "Raadpleeg de partner van een persoon"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - in: path
          name: id
          description: "De identificatie van de partner."
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PartnerHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}/partners:
    get:
      operationId: ingeschrevenpersonenBurgerservicenummerpartners
      summary: "Levert de actuele partners van een persoon"
      description: "Levert de actuele partners van een persoon. Partners uit beëindigde huwelijken of partnerschappen worden niet geretourneerd"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PartnerHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Ingeschreven Personen
  /ingeschrevenpersonen/{burgerservicenummer}/verblijfplaatshistorie:
    get:
      operationId: Getverblijfplaatshistorie
      description: "<body><p>Het ophalen van de verblijfplaatshistorie van een ingeschreven persoon. Van een ingeschreven persoon wordt de verblijfplaats geretourneerd waar de persoon op de (optioneel) opgegeven peildatum verbleef of worden de verblijfplaatsen geretourneerd waar de persoon binnen de (optioneel) opgegeven periode (datumvan tot en met datumtotenmet) heeft verbleven. Wanneer geen peildatum of periode wordt opgegeven, worden alle verblijfplaatsen waar de persoon verbleven heeft of nu verblijft teruggegeven.</p><p>Er wordt aflopend gesorteerd op datumAanvangAdreshuishouding, zodat de meest actuele bovenaan staat.</p></body>"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/fields"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/peildatum"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumvan"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumtotenmet"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VerblijfplaatshistorieHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Historie
  /ingeschrevenpersonen/{burgerservicenummer}/partnerhistorie:
    get:
      operationId: Getpartnerhistorie
      description: "<body><p>Het ophalen van de partnerhistorie van een ingeschreven persoon. Van een ingeschreven persoon worden partners waarmee in het verleden relaties geregistreerd zijn geretourneerd die de persoon had op de (optioneel) opgegeven peildatum of binnen de (optioneel) opgegeven periode (datumvan tot en met datumtotenmet).</p></body>"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/fields"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/peildatum"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumvan"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumtotenmet"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PartnerhistorieHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Historie
  /ingeschrevenpersonen/{burgerservicenummer}/verblijfstitelhistorie:
    get:
      operationId: getverblijfstitelhistorie
      description: "<body><p>Het ophalen van de verblijfstitelhistorie van een ingeschreven persoon. Van een ingeschreven persoon wordt de verblijfstitel geretourneerd die de persoon had op de (optioneel) opgegeven peildatum of worden de verblijfstitels geretourneerd die de persoon had binnen de (optioneel) opgegeven periode (datumvan tot en met datumtotenmet). Wanneer geen peildatum of periode wordt opgegeven, worden alle verblijfstitels van de persoon teruggegeven.</p><p>Er wordt aflopend gesorteerd op datumingang, zodat de meest actuele bovenaan staat.</p></body>"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/fields"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/peildatum"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumvan"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumtotenmet"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VerblijfstitelhistorieHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Historie
  /ingeschrevenpersonen/{burgerservicenummer}/nationaliteithistorie:
    get:
      operationId: getnationaliteithistorie
      description: "<body><p>Het ophalen van de nationaliteithistorie van een ingeschreven persoon. Van een ingeschreven persoon wordt de nationaliteit geretourneerd die de persoon had op de (optioneel) opgegeven peildatum of worden de nationaliteiten geretourneerd die de persoon had binnen de (optioneel) opgegeven periode (datumvan tot en met datumtotenmet). Wanneer geen peildatum of periode wordt opgegeven, worden alle nationaliteiten van de persoon teruggegeven.</p><p>Er wordt aflopend gesorteerd op datumingang, zodat de meest actuele bovenaan staat.</p></body>"
      parameters:
        - $ref: '#/components/parameters/burgerservicenummer'
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/fields"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/peildatum"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumvan"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/parameters/datumtotenmet"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NationaliteithistorieHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/406"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
        - Historie
components:
  parameters:
    burgerservicenummer:
      name: burgerservicenummer
      in: path
      description: "Het burgerservicenummer, bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer. Alle nummers waarvoor geldt dat, indien aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), het resultaat van (9*s0) + (8*s1) + (7*s2) +...+ (2*s7) - (1*s8) deelbaar is door elf. Er moeten dus 9 cijfers aanwezig zijn."
      required: true
      schema:
        type: "string"
        pattern: "^[0-9]*$"
        maxLength: 9
        minLength: 9
        example: "555555021"
  schemas:
    Reisdocumentnummer:
      type: "string"
      description: "Het nummer van het verstrekte Nederlandse reisdocument."
      example: "546376728"
    IngeschrevenPersoon:
      type: "object"
      properties:
        burgerservicenummer:
            type: "string"
            example: "555555021"
        geheimhoudingPersoonsgegevens:
          type: boolean
          title: "Indicatie geheim"
          description: "Gegevens mogen niet worden verstrekt aan derden / maarschappelijke instellingen."
        geslachtsaanduiding:
          $ref: "#/components/schemas/Geslacht_enum"
        leeftijd:
          type: integer
          description: "Leeftijd in jaren op het moment van bevragen."
          example: 34
        datumEersteInschrijvingGBA:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        kiesrecht:
          $ref: "#/components/schemas/Kiesrecht"
        naam:
          $ref: "#/components/schemas/NaamPersoon"
        inOnderzoek:
          $ref: "#/components/schemas/PersoonInOnderzoek"
        nationaliteiten:
          type: "array"
          items:
            $ref: "#/components/schemas/Nationaliteit"
        geboorte:
          $ref: "#/components/schemas/Geboorte"
        opschortingBijhouding:
          $ref: "#/components/schemas/OpschortingBijhouding"
        overlijden:
          $ref: "#/components/schemas/Overlijden"
        verblijfplaats:
          $ref: "#/components/schemas/Verblijfplaats"
        gezagsverhouding:
          $ref: "#/components/schemas/Gezagsverhouding"
        verblijfstitel:
          $ref: "#/components/schemas/Verblijfstitel"
        reisdocumentnummers:
          type: "array"
          items:
            $ref: "#/components/schemas/Reisdocumentnummer"
    IngeschrevenPersoonHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          $ref: "#/components/schemas/IngeschrevenPersoonHalCollectieEmbedded"
    IngeschrevenPersoonHalCollectieEmbedded:
      type: object
      properties:
        ingeschrevenpersonen:
          type: array
          items:
            $ref: '#/components/schemas/IngeschrevenPersoonHal'
    IngeschrevenPersoonHalBasis:
      allOf:
        - $ref: '#/components/schemas/IngeschrevenPersoon'
        - properties:
            _links:
              $ref: "#/components/schemas/IngeschrevenPersoonLinks"
    IngeschrevenPersoonHal:
      allOf:
        - $ref: '#/components/schemas/IngeschrevenPersoonHalBasis'
        - properties:
            _embedded:
              $ref: "#/components/schemas/IngeschrevenPersoonEmbedded"
    Ouder:
      type: "object"
      description: "Gegevens over de ouder van de ingeschrevene. \n* **datumIngangFamilierechtelijkeBetrekking** : De datum waarop de familierechtelijke betrekking is ontstaan."
      properties:
        burgerservicenummer:
          type: "string"
          example: "555555021"
        geslachtsaanduiding:
          $ref: "#/components/schemas/Geslacht_enum"
        ouderAanduiding:
          $ref: "#/components/schemas/OuderAanduiding_enum"
        datumIngangFamilierechtelijkeBetrekking:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        naam:
          $ref: "#/components/schemas/Naam"
        inOnderzoek:
          $ref: "#/components/schemas/OuderInOnderzoek"
        geboorte:
          $ref: "#/components/schemas/Geboorte"
        geheimhoudingPersoonsgegevens:
          type: boolean
          title: "Indicatie geheim"
          description: "Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden. Indien true: op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan."

    OuderHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          $ref: '#/components/schemas/OuderHalCollectieEmbedded'
    OuderHalCollectieEmbedded:
      type: object
      properties:
        ouders:
          type: array
          items:
            $ref: '#/components/schemas/OuderHal'
    OuderHal:
      allOf:
        - $ref: '#/components/schemas/Ouder'
        - properties:
            _links:
              $ref: "#/components/schemas/OuderLinks"
    Kind:
      type: "object"
      description: "Gegevens over een kind van de ingeschrevene."
      properties:
        burgerservicenummer:
          type: "string"
          example: "555555021"
        leeftijd:
          type: integer
          description: "Leeftijd op het moment van bevragen"
          example: 12
        inOnderzoek:
          $ref: "#/components/schemas/KindInOnderzoek"
        naam:
          $ref: "#/components/schemas/Naam"
        geboorte:
          $ref: "#/components/schemas/Geboorte"
        geheimhoudingPersoonsgegevens:
          type: boolean
          title: "Indicatie geheim"
          description: "Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden. Indien true: op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan."
    KindHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          $ref: '#/components/schemas/KindHalCollectieEmbedded'
    KindHalCollectieEmbedded:
      type: object
      properties:
        kinderen:
          type: array
          items:
            $ref: '#/components/schemas/KindHal'
    KindHal:
      allOf:
        - $ref: '#/components/schemas/Kind'
        - properties:
            _links:
              $ref: "#/components/schemas/KindLinks"
    Partner:
      type: "object"
      description: "Gegevens over een gesloten huwelijk/geregistreerd partnerschap van de ingeschrevene."
      properties:
        burgerservicenummer:
          type: "string"
          example: "555555021"
        geslachtsaanduiding:
          $ref: "#/components/schemas/Geslacht_enum"
        soortVerbintenis:
          $ref: "#/components/schemas/SoortVerbintenis_enum"
        naam:
          $ref: "#/components/schemas/Naam"
        geboorte:
          $ref: "#/components/schemas/Geboorte"
        inOnderzoek:
          $ref: "#/components/schemas/PartnerInOnderzoek"
        aangaanHuwelijkPartnerschap:
          $ref: "#/components/schemas/AangaanHuwelijkPartnerschap"
        geheimhoudingPersoonsgegevens:
          type: boolean
          title: "Indicatie geheim"
          description: "Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden. Indien true: op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan."
    PartnerHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          $ref: '#/components/schemas/PartnerHalCollectieEmbedded'
    PartnerHalCollectieEmbedded:
      type: object
      properties:
        partners:
          type: array
          items:
            $ref: '#/components/schemas/PartnerHal'
    PartnerHal:
      allOf:
        - $ref: '#/components/schemas/Partner'
        - properties:
            _links:
              $ref: "#/components/schemas/PartnerLinks"
    Naam:
      type: "object"
      properties:
        geslachtsnaam:
          type: "string"
          description: "De achternaam van een persoon, zonder voorvoegsels, adellijke titels of predikaat."
          example: "Vries"
        voorletters:
          type: "string"
          description: "De voorletters van de persoon, afgeleid van de voornamen."
          example: "P.J."
        voornamen:
          type: "string"
          description: "De verzameling namen voor de geslachtsnaam, gescheiden door spaties."
          example: "Pieter Jan"
        voorvoegsel:
          type: "string"
          example: "de"
        inOnderzoek:
          $ref: "#/components/schemas/NaamInOnderzoek"
    NaamInOnderzoek:
      type: "object"
      description: "Geeft aan welke gegevens over de naam in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        geslachtsnaam:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        voornamen:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        voorvoegsel:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    OuderInOnderzoek:
      type: "object"
      description: "Indicators over het in onderzoek zijn van gegevens over de aangaan van het huwelijk van de INGESCHREVEN PERSOON. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        burgerservicenummer:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        datumIngangFamilierechtelijkeBetrekking:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        geslachtsaanduiding:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    Geboorte:
      allOf:
      - $ref: '#/components/schemas/Geboortedatum'
      - description: "Gegevens over de geboorte van de persoon, de ouder, de echtgenoot/geregistreerd partner, de eerdere echtgenoot/geregistreerd partner of het kind.  \n* **datum** : datum waarop de persoon is geboren. \n* **land** : land waar de persoon is geboren \n* **plaats** : plaats waar een persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding."
        properties:
          land:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
          plaats:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
          inOnderzoek:
            $ref: "#/components/schemas/GeboorteInOnderzoek"
    GeboorteInOnderzoek:
      type: "object"
      description: "Geeft aan welke gegevens over de geboorte van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    Kiesrecht:
      type: "object"
      properties:
        europeesKiesrecht:
          type: boolean
          description: "Geeft aan of persoon een oproep moet ontvangen voor verkiezingen voor het Europees parlement."
          example: true
        uitgeslotenVanKiesrecht:
          type: boolean
          example: true
        einddatumUitsluitingEuropeesKiesrecht:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        einddatumUitsluitingKiesrecht:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    NaamPersoon:
      allOf:
        - $ref: "#/components/schemas/Naam"
        - properties:
            aanhef:
              type: "string"
              description: "Kun je gebruiken als aanhef in een brief gericht aan persoon."
              example: "Geachte heer In het Veld"
            aanschrijfwijze:
              type: "string"
              description: "Samengestelde naam die je kunt gebruiken in de communicatie met de persoon."
              example: "H. in het Veld"
            gebruikInLopendeTekst:
              type: "string"
              description: "Naam van persoon die je kunt gebruiken als je in lopende tekst (bijvoorbeeld in een brief) aan persoon refereert."
              example: "de heer In het Veld"
            aanduidingNaamgebruik:
              $ref: "#/components/schemas/Naamgebruik_enum"
    PersoonInOnderzoek:
      type: "object"
      description: "Geeft aan welke gegevens van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)."
      properties:
        burgerservicenummer:
          type: boolean
        geslachtsaanduiding:
          type: boolean
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    Nationaliteit:
      type: "object"
      description: " \n* **redenOpname** : De reden op grond waarvan de ingeschreven persoon de nationaliteit verkregen heeft."
      properties:
        aanduidingBijzonderNederlanderschap:
          $ref: "#/components/schemas/AanduidingBijzonderNederlanderschap_enum"
        datumIngangGeldigheid:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        nationaliteit:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        redenOpname:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        inOnderzoek:
          $ref: "#/components/schemas/NationaliteitInOnderzoek"
    NationaliteitInOnderzoek:
      type: "object"
      description: "Geeft aan welke gegevens over de nationaliteit in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        aanduidingBijzonderNederlanderschap:
          type: boolean
        nationaliteit:
          type: boolean
        redenOpname:
          type: boolean
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    NationaliteithistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          $ref: '#/components/schemas/NationaliteithistorieHalCollectieEmbedded'
    NationaliteithistorieHalCollectieEmbedded:
      type: object
      properties:
        nationaliteithistorie:
          type: array
          items:
            $ref: '#/components/schemas/Nationaliteithistorie'
    Nationaliteithistorie:
      allOf:
      - $ref: "#/components/schemas/Nationaliteit"
      - description: "<body><p>Gegevens over de verblijfsrechtelijke status van de\
          \ ingeschrevene.</p><p>\n <em>*</em> datumEinde**: Datum waarop\
          \ de geldigheid van de gegevens over de Nationaliteit is beëindigd.</p><p>\n\
          \ <em>*</em> datumIngang**: Datum waarop de gegevens over de Nationaliteit\
          \ geldig zijn geworden.</p><p> <em>*</em> aanduiding** : Nationaliteittabel,\
          \ die aangeeft over welke verblijfsrechtelijke status de ingeschrevene beschikt.</p> </body>"
        properties:
          geheimhoudingPersoonsgegevens:
            type: boolean
            title: "Indicatie geheim"
            description: "Een aanduiding die aangeeft dat gegevens wel of niet verstrekt\
              \ mogen worden. Indien true: op verzoek van deze persoon is het verstrekken\
              \ van gegevens over deze persoon aan bepaalde derden niet toegestaan."
          datumEindeGeldigheid:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
          redenBeeindigen:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
          indicatieNationaliteitBeeindigd:
            type: boolean
            description: "Een aanduiding dat de nationaliteit beëindigd is."
            example: true
    OpschortingBijhouding:
      type: "object"
      description: "\n* **reden**: de reden waarom de bijhouding van de PL is opgeschort. \n* **datum**: de datum waarop de bijhouding van de persoonslijst is gestaakt. \n* "
      properties:
        reden:
          $ref: "#/components/schemas/RedenOpschortingBijhouding_enum"
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    Overlijden:
      type: "object"
      description: "Gegevens over het overlijden van de persoon. \n* **datum** : datum waarop de persoon is overleden. \n* **land** : land waar de persoon is overleden \n* **plaats** : plaats waar een persoon is overleden. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding."
      properties:
        indicatieOverleden:
          type: boolean
          description: "Deze indicatie geeft aan dat iemand is overleden (waarde true), ongeacht of de overlijdensdatum bekend is."
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        land:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        plaats:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        inOnderzoek:
          $ref: "#/components/schemas/OverlijdenInOnderzoek"
    OverlijdenInOnderzoek:
      type: "object"
      description: "Geeft aan welke gegevens over het overlijden van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    KindInOnderzoek:
      type: "object"
      description: "Indicators over het in onderzoek zijn van gegevens over de aangaan van het huwelijk van de INGESCHREVEN PERSOON. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        burgerservicenummer:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    PartnerInOnderzoek:
      type: "object"
      description: "Indicators over het in onderzoek zijn van gegevens over de aangaan van het huwelijk van de INGESCHREVEN PERSOON. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        burgerservicenummer:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        geslachtsaanduiding:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        soortVerbintenis:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    AangaanHuwelijkPartnerschap:
      type: "object"
      description: "Gegevens over het gesloten huwelijk of het aangegane geregistreerd partnerschap. \n* **datum** : De datum waarop het huwelijk is voltrokken of het partnerschap is aangegaan. \n* **land** : Het land waar het huwelijk is voltrokken of het partnerschap is aangegaan. \n* **plaats** : Als de plaats een gemeente in Nederland is dan gewoon de gemeentecode + gemeentenaam. Voor een plaats buiten Nederland is de gemeentecode leeg en wordt de gemeentenaam de buitenlandse plaatsnaam of aanduiding."
      properties:
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        land:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        plaats:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        inOnderzoek:
          $ref: "#/components/schemas/AangaanHuwelijkInOnderzoek"
    AangaanHuwelijkInOnderzoek:
      type: "object"
      description: "Indicators over het in onderzoek zijn van gegevens over de aangaan van het huwelijk van de INGESCHREVEN PERSOON. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        datum:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        land:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        plaats:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    BinnenlandsAdres:
      description: |
        Dit object bevat de basis Verblijfsplaats kenmerken die gedeeld worden door Bewoning en Verblijfplaats
      allOf:
       - $ref : "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-BAG-bevragen/v1.1.0/specificatie/openapi.yaml#/components/schemas/Adres"
       - properties:
          adresseerbaarObjectIdentificatie:
            type: "string"
            description: "De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn."
            example: "0518200000366054"
          aanduidingBijHuisnummer:
            $ref: "#/components/schemas/AanduidingBijHuisnummer_enum"
          nummeraanduidingIdentificatie:
            type: "string"
            description: "Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG."
            example: "0518200000366054"
    Verblijfplaats:
      allOf:
      - $ref: '#/components/schemas/BinnenlandsAdres'
      - description: "Gegevens over het verblijf of de woonlocatie van een persoon. \n* **datumAanvangAdreshuishouding** : de datum van aangifte of ambtshalve melding van verblijf en adres. \n* **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden. \n* **datumInschrijvingInGemeente**: bij inschrijving op grond van een verhuisaangifte door de burger is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop de betrokkene schriftelijk van het voornemen van ambtshalve opneming mededeling is gedaan. \n* **datumVestigingInNederland** : datum van inschrijving in Nederland \n* **landVanWaarIngeschreven** : het land waar de ingeschreven persoon verblijf hield voor (her)vestiging in Nederland. \n* **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten."
        properties:
          functieAdres:
            $ref: "#/components/schemas/SoortAdres_enum"
          indicatieVestigingVanuitBuitenland:
            type: boolean
            description: "Geeft aan dat de ingeschreven persoon zich vanuit het buitenland heeft ingeschreven."
          locatiebeschrijving:
            type: "string"
            description: "Een omschrijving van de ligging van een object."
            example: "Naast de derde brug"
          korteNaam:
            description: "De officiële openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie."
            type: string
          vanuitVertrokkenOnbekendWaarheen:
            type: boolean
            description: "Geeft aan dat de persoon is teruggekeerd uit een situatie van 'vertrokken onbekend waarheen.'"
            example: true
          datumAanvangAdreshouding:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
          datumIngangGeldigheid:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
          datumInschrijvingInGemeente:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
          datumVestigingInNederland:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
          gemeenteVanInschrijving:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
          landVanwaarIngeschreven:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
          adresregel1:
            type: "string"
            description: "Het eerste deel van een adres is een combinatie van de straat en huisnummer."
            # example: "1600 Pennsylvania Avenue NW"
            example: "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
          adresregel2:
            type: "string"
            description: "Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode"
            # example: "Washington, DC 20500"
            example: "1234AA Nootdorp"
          adresregel3:
            type: "string"
            description: "Het derde deel van een adres is optioneel een of meer geografische gebieden van het adres in het buitenland"
            example: "Selangor"
          vertrokkenOnbekendWaarheen:
            type: boolean
            description: "Indicatie dat de ingeschreven persoon is vertrokken naar het buitenland, maar dat niet bekend is waar naar toe."
          land:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
          inOnderzoek:
            $ref: "#/components/schemas/VerblijfplaatsInOnderzoek"
    VerblijfplaatsInOnderzoek:
      type: "object"
      description: "Geeft aan welke gegevens over het verblijf en adres van de persoon in onderzoek zijn. Elementen van het GBA-adres zelf (Dat zou eigenlijk een BAG-adres moeten zijn) kunnen niet in onderzoek zijn. Wel de relatie naar de nummeraanduiding. Dat wordt gedaan door de identificatiecodeNummeraanduiding in onderzoek te zetten. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        aanduidingBijHuisnummer:
          type: boolean
        datumAanvangAdreshouding:
          type: boolean
        datumIngangGeldigheid:
          type: boolean
        datumInschrijvingInGemeente:
          type: boolean
        datumVestigingInNederland:
          type: boolean
        functieAdres:
          type: boolean
        gemeenteVanInschrijving:
          type: boolean
        huisletter:
          type: boolean
        huisnummer:
          type: boolean
        huisnummertoevoeging:
          type: boolean
        nummeraanduidingIdentificatie:
          type: boolean
        adresseerbaarObjectIdentificatie:
          type: boolean
        landVanwaarIngeschreven:
          type: boolean
        locatiebeschrijving:
          type: boolean
        naamOpenbareRuimte:
          type: boolean
        postcode:
          type: boolean
        straatnaam:
          type: boolean
        verblijfBuitenland:
          type: boolean
        woonplaatsnaam:
          type: boolean
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    Gezagsverhouding:
      type: "object"
      description: "Gegevens betreffende het gezag over de ingeschrevene."
      properties:
        indicatieCurateleRegister:
          type: boolean
          description: "Een aanduiding dat de ingeschrevene onder curatele is gesteld."
          example: true
        indicatieGezagMinderjarige:
          $ref: "#/components/schemas/IndicatieGezagMinderjarige_enum"
        inOnderzoek:
          $ref: "#/components/schemas/GezagsverhoudingInOnderzoek"
    GezagsverhoudingInOnderzoek:
      type: "object"
      description: "Een groep van booleans om aan te geven welke gegevens van de gezagsverhouding in onderzoek zijn. Als een de categorie in onderzoek is worden alle rubrieken binnen die categorie op _true_ gezet. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)"
      properties:
        indicatieCurateleRegister:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        indicatieGezagMinderjarige:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze persoon in onderzoek is."
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    Verblijfstitel:
      type: "object"
      description: "Gegevens over de verblijfsrechtelijke status van de ingeschrevene. \n* **datumEinde**: Datum waarop de geldigheid van de gegevens over de verblijfstitel is beëindigd. \n* **datumIngang**: Datum waarop de gegevens over de verblijfstitel geldig zijn geworden. \n* **aanduiding** : Verblijfstiteltabel, die aangeeft over welke verblijfsrechtelijke status de ingeschrevene beschikt."
      properties:
        aanduiding:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        datumEinde:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        datumIngang:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        inOnderzoek:
          $ref: "#/components/schemas/VerblijfstitelInOnderzoek"
    VerblijfstitelInOnderzoek:
      type: "object"
      description: "In onderzoek indicators over de gegevens over de verblijfstitel."
      properties:
        aanduiding:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze verblijfstitel in onderzoek is."
        datumEinde:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze verblijfstitel in onderzoek is."
        datumIngang:
          type: boolean
          description: "Indicator die aangeeft of het corresponderende gegeven voor deze verblijfstitel in onderzoek is."
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    IngeschrevenPersoonLinks:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        ouders:
          type: "array"
          description: "De ouders van de ingeschreven persoon, waarnaar de OUDER-KIND-RELATIE verwijst`"
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        reisdocumenten:
          type: "array"
          description: "De ingezetene waaraan het REISDOCUMENT is verstrekt. Dit is de inverse relatie van heeftAlsHouder. Reisdocumenten die aan een ingezetene zijn verstrekt."
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        kinderen:
          type: "array"
          description: "De kinderen van de ingeschreven persoon, waarnaar de KIND-OUDER-RELATIE verwijst"
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        partners:
          type: "array"
          description: "De actuele bij de ingeschreven persoon geregistreerde huwelijken en geregistreerd partnerschappen. Een beëindigd huwelijk of geregistreerd partnerschap wordt niet teruggegeven."
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        partnerhistorie:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        verblijfplaatshistorie:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        verblijfstitelhistorie:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        nationaliteitHistorie:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        adres:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    OuderLinks:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        ingeschrevenPersoon:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    KindLinks:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        ingeschrevenPersoon:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    PartnerLinks:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        ingeschrevenPersoon:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    IngeschrevenPersoonEmbedded:
      type: "object"
      properties:
        ouders:
          type: "array"
          description: "De ouders van de ingeschreven persoon, waarnaar de OUDER-KIND-RELATIE verwijst`"
          items:
            $ref: "#/components/schemas/OuderHal"
        kinderen:
          type: "array"
          description: "De kinderen van de ingeschreven persoon, waarnaar de KIND-OUDER-RELATIE verwijst"
          items:
            $ref: "#/components/schemas/KindHal"
        partners:
          type: "array"
          description: "De actuele bij de ingeschreven persoon geregistreerde huwelijken en geregistreerd partnerschappen. Een beëindigd huwelijk of geregistreerd partnerschap wordt niet teruggegeven."
          items:
            $ref: "#/components/schemas/PartnerHal"
    AanduidingBijzonderNederlanderschap_enum:
      type: "string"
      description: "Geeft aan dat de persoon behandeld wordt als Nederlander, of dat door de rechter is vastgesteld dat de persoon niet de Nederlandse nationaliteit bezit:\n* `behandeld_als_nederlander` - B\n* `vastgesteld_niet_nederlander` - V"
      enum:
      - "behandeld_als_nederlander"
      - "vastgesteld_niet_nederlander"
    AanduidingBijHuisnummer_enum:
      type: "string"
      description: "De aanduiding die wordt gebruikt voor adressen die geen straatnaam en huisnummeraanduidingen hebben. :\n* `tegenover` - to\n* `bij` - by"
      enum:
      - "tegenover"
      - "bij"
    Geslacht_enum:
      type: "string"
      description: "Geeft aan dat de persoon een man of vrouw is, of dat het geslacht (nog) onbekend is.:\n* `man` - M\n* `vrouw` \ - V\n* `onbekend` - O"
      enum:
      - "man"
      - "vrouw"
      - "onbekend"
    IndicatieGezagMinderjarige_enum:
      type: "string"
      description: "Een aanduiding die aangeeft wie belast is met het gezag over de minderjarige ingeschrevene.:\n* `ouder1` - 1\n* `ouder2` - 2\n* `derden` - D\n* `ouder1_en_derde` - 1D\n* `ouder2_en_derde` - 2D\n* `ouder1_en_ouder2` - 12"
      enum:
      - "ouder1"
      - "ouder2"
      - "derden"
      - "ouder1_en_derde"
      - "ouder2_en_derde"
      - "ouder1_en_ouder2"
    Naamgebruik_enum:
      type: "string"
      description: "De manier waarop de geslachtsnaam van persoon en partner van persoon moet worden verwerkt in de manier waarop persoon wil worden aangesproken:\n* `eigen` - E - gebruik alleen de eigen naam \n* `eigen_partner` - N - gebruik de eigen naam voor de partnernaam \n* `partner` - P gebruik alleen de partnernaam \n* `partner_eigen` - V - gebruik de partnernaam voor de eigen naam.


      De aanduiding naamgebruik is verwerkt in Aanhef, Aanschrijfwijze en gebruikInLopendeTekst."
      enum:
      - "eigen"
      - "eigen_partner"
      - "partner"
      - "partner_eigen"
    OuderAanduiding_enum:
      type: "string"
      description: "Aanduiding om welke ouder het gaat volgens de GBA:\n* `ouder1` - 1\n* `ouder2` - 2"
      enum:
      - "ouder1"
      - "ouder2"
    RedenOpschortingBijhouding_enum:
      type: "string"
      description: "Redenen voor opschorting van de bijhouding.:\n* `overlijden` - O \n* `emigratie` - E\n* `ministerieel_besluit` - M\n* `pl_aangelegd_in_de_rni` - R - opgeschort omdat persoon is ingeschreven in het Register Niet Ingezeten (RNI). \n* `fout` - F"
      enum:
      - "overlijden"
      - "emigratie"
      - "ministerieel_besluit"
      - "pl_aangelegd_in_de_rni"
      - "fout"
    SoortAdres_enum:
      type: "string"
      description: "Aanduiding van het soort adres.:\n* `woonadres` - W - adres waar de persoon woont\n* `briefadres` - B - het adres van een andere persoon of van een instelling (de zogenoemde briefadresgever). Met dit adres van de briefadresgever is de persoon zonder woonadres toch bereikbaar voor de overheid."
      enum:
      - "woonadres"
      - "briefadres"
    SoortVerbintenis_enum:
      type: "string"
      description: "Soort verbintenis van een bij de burgerlijke stand ingeschreven verbintenis:\n* `huwelijk` - H\n* `geregistreerd_partnerschap` - P"
      enum:
      - "huwelijk"
      - "geregistreerd_partnerschap"
    VerblijfplaatshistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          $ref: '#/components/schemas/VerblijfplaatshistorieHalCollectieEmbedded'
    VerblijfplaatshistorieHalCollectieEmbedded:
      type: object
      properties:
        verblijfplaatshistorie:
          type: array
          items:
            $ref: '#/components/schemas/VerblijfplaatshistorieHal'
    VerblijfplaatshistorieHal:
      allOf:
        - $ref: '#/components/schemas/Verblijfplaatshistorie'
        - properties:
            _links:
              $ref: "#/components/schemas/VerblijfplaatshistorieLinks"
    Verblijfplaatshistorie:
      allOf:
      - $ref: "#/components/schemas/Verblijfplaats"
      - description: "<body><p>Gegevens over het verblijf en adres van de ingeschreven\
          \ persoon. Dit is het adres waarop een persoon is ingeschreven of ingeschreven\
          \ is geweest.</p><p>\n <em>*</em> datumAanvangAdreshuishouding** : De datum\
          \ van aangifte of ambtshalve melding van verblijf en adres.</p><p>\n <em>*</em>\
          \ datumIngangGeldigheid** : Datum waarop de gegevens over de verblijfplaats\
          \ geldig zijn geworden.</p><p>\n <em>*</em> datumInschrijvingInGemeente**:\
          \ Bij inschrijving op grond van een aangifte door de burger van zijn vestiging\
          \ in een (volgende) gemeente is dit de aangiftedatum. Bij inschrijving op\
          \ grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving\
          \ is dit de datum waarop de betrokkene schriftelijk van het voornemen van\
          \ ambtshalve opneming mededeling is gedaan.</p><p>\n <em>*</em> datumVestigingInNederland**\
          \ : Datum van inschrijving in Nederland</p><p>\n <em>*</em> landVanWaarIngeschreven**\
          \ : Het land waar de ingeschreven persoon verblijf hield voor (her)vestiging\
          \ in Nederland.</p><p>\n <em>*</em> gemeenteVanInschrijving** : Een aanduiding\
          \ die aangeeft in welke gemeente de PK zich bevindt. De code kan voorloopnullen\
          \ bevatten</p><p>\n <em>*</em> landVanWaarIngeschreven** : Het LAND waar\
          \ de INGESCHREVEN PERSOON verblijf hield voor (her)vestiging in Nederland.</p></body>"
        properties:
          datumTot:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
          geheimhoudingPersoonsgegevens:
            type: boolean
            title: "Indicatie geheim"
            description: "Een aanduiding die aangeeft dat gegevens wel of niet verstrekt\
              \ mogen worden. Indien true: op verzoek van deze persoon is het verstrekken\
              \ van gegevens over deze persoon aan bepaalde derden niet toegestaan."
    VerblijfplaatshistorieLinks:
      type: "object"
      properties:
        adres:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        adresseerbaarObject:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    PartnerhistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          $ref: '#/components/schemas/PartnerhistorieHalCollectieEmbedded'
    PartnerhistorieHalCollectieEmbedded:
      type: object
      properties:
        partnerhistorie:
          type: array
          items:
            $ref: '#/components/schemas/PartnerhistorieHal'
    PartnerhistorieHal:
      allOf:
        - $ref: '#/components/schemas/Partnerhistorie'
        - properties:
            _links:
              $ref: "#/components/schemas/PartnerhistorieLinks"
    Partnerhistorie:
      allOf:
      - $ref: "#/components/schemas/Partner"
      - description: "<body><p>Gegevens over een gesloten huwelijk/geregistreerd partnerschap\
          \ van de ingeschrevene.</p></body>"
        properties:
          ontbindingHuwelijkPartnerschap:
            $ref: "#/components/schemas/OntbindingHuwelijkPartnerschap"
    OntbindingHuwelijkPartnerschap:
      type: "object"
      description: ""
      properties:
        indicatieHuwelijkPartnerschapBeeindigd:
          type: boolean
          description: "Indicatie of het huwelijk ontbonden is danwel het partnerschap beëindigd is.\
            \ \n* `True` - Huwelijk/Partnerschap is beëindigd."
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        land:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        plaats:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        reden:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Waardetabel"
        inOnderzoek:
          $ref: "#/components/schemas/OntbindingHuwelijkInOnderzoek"
    OntbindingHuwelijkInOnderzoek:
      type: "object"
      description: "<body><p>Indicators over het in onderzoek zijn van gegevens over\
        \ de aangaan van het huwelijk van de INGESCHREVEN PERSOON.</p><p>Zie de <a\
        \ href=`https://github.com/VNG-Realisatie/Bevragingen-ingeschreven-personen/blob/master/features/in_onderzoek.feature`>\
        \ functionele specificaties <a></p></body>"
      properties:
        datum:
          type: boolean
          description: "<body><p>Indicator die aangeeft of het corresponderende gegeven\
            \ voor deze persoon in onderzoek is.</p></body>"
        land:
          type: boolean
          description: "<body><p>Indicator die aangeeft of het corresponderende gegeven\
            \ voor deze persoon in onderzoek is.</p></body>"
        plaats:
          type: boolean
          description: "<body><p>Indicator die aangeeft of het corresponderende gegeven\
            \ voor deze persoon in onderzoek is.</p></body>"
        datumIngangOnderzoek:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    PartnerhistorieLinks:
      type: "object"
      properties:
        ingeschrevenPersoon:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    VerblijfstitelhistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
            $ref: '#/components/schemas/VerblijfstitelhistorieHalCollectieEmbedded'
    VerblijfstitelhistorieHalCollectieEmbedded:
      type: object
      properties:
        verblijfstitelhistorie:
          type: array
          items:
            $ref: '#/components/schemas/Verblijfstitelhistorie'
    Verblijfstitelhistorie:
      allOf:
      - $ref: "#/components/schemas/Verblijfstitel"
      - description: "<body><p>Gegevens over de verblijfsrechtelijke status van de\
          \ ingeschrevene.</p><p>\n <em>*</em> datumEinde**: Datum waarop\
          \ de geldigheid van de gegevens over de verblijfstitel is beëindigd.</p><p>\n\
          \ <em>*</em> datumIngang**: Datum waarop de gegevens over de verblijfstitel\
          \ geldig zijn geworden.</p><p> <em>*</em> aanduiding** : Verblijfstiteltabel,\
          \ die aangeeft over welke verblijfsrechtelijke status de ingeschrevene beschikt.</p> </body>"
        properties:
          geheimhoudingPersoonsgegevens:
            type: boolean
            title: "Indicatie geheim"
            description: "Een aanduiding die aangeeft dat gegevens wel of niet verstrekt\
              \ mogen worden. Indien true: op verzoek van deze persoon is het verstrekken\
              \ van gegevens over deze persoon aan bepaalde derden niet toegestaan."
    Geboortedatum:
      type: "object"
      description: "Gegevens over de geboorte van respectievelijk de persoon, de ouder, de echtgenoot/geregistreerd partner, de eerdere echtgenoot/geregistreerd partner of het kind.\n* **datum** : Datum waarop de persoon is geboren.\n* **land** : Land waar de persoon is geboren \n* **plaats** : De plaats waar een persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding."
      properties:
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.1.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
